<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>УбирайКА | iCal Network | Услуга | Создать</title>
    <th:block th:include="blocks/general.html :: head"></th:block>
</head>

<body>
    <div th:replace="blocks/general.html :: nav"></div>

    <main role="main">
        <div class="container">
            <div class="row">
                <div class="my-3 col-12 col-sm-10 col-md-9 col-lg-7 mx-auto">
                    <form method="POST">
                        <div class="card text-center">
                            <div class="card-header" th:text="${user.lastName} + ' ' + ${user.name}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title w-75 mx-auto"><input name="title" type="text" class="form-control"
                                                                           required placeholder="Название услуги"></h5>
                                <p class="card-text"><textarea maxlength="300" name="description" class="form-control"
                                                               rows="6" placeholder="Описание услуги"></textarea></p>
                            </div>
                            <div class="card-footer clearfix">
                                <div class="float-md-left">
                                    <span class="material-icons">call</span>
                                    Тел: <th:block th:text="${user.phone}"/>
                                </div>
                                <div class="float-md-right">
                                    <div class="input-group w-75 float-right">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect02">Цена: </label>
                                        </div>
                                        <input name="price" type="text" class="form-control" aria-label="price"
                                               placeholder="1150.50" aria-describedby="basic-addon1"
                                               id="inputGroupSelect02">
                                        <div class="input-group-append">
                                            <label class="input-group-text" for="inputGroupSelect02">₽</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted clearfix">
                                <div class="float-md-right">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Услуга: </label>
                                        </div>
                                        <select name="type" class="custom-select" id="inputGroupSelect01">
                                            <option th:each="typeIter : ${types}" th:value="${typeIter.serviceTypePk}" th:text="${typeIter.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="float-md-left" th:text="${#dates.format(#dates.createToday(), 'dd.MM.yyyy')}"></div>
                            </div>
                            <input type="hidden" name="user" th:value="${user.userServicePk}">
                            <div class="card-footer clearfix">
                                <div class="float-left">
                                    <button type="submit" class="btn btn-primary" formaction="/service/create" id="createButton">Создать</button>
                                </div>
                                <div class="float-right">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="blocks/general.html :: footer"></div>

    <th:block th:include="blocks/general.html :: scripts"></th:block>
</body>

</html>